<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Expgen</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>EXP Generator</h1>

    <div id="main">
      <a id="download" href="#" download="out.csv" @click="handleDownload()">Download</a>
      <hr>
      <input type="text" v-model="dataNum">
      {{col}}
      <hr>
        <table>
          <thead>
            <tr>
              <th v-for="h in res.head">
                {{ h }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="datum in res.body">
              <td v-for="d in datum">
                {{ d }}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
